@font-face {
  font-family: elitefont;
  src :url("./fonts/Special_Elite/SpecialElite-Regular.ttf");
}

@media (max-width: 769px) {
.nav-links {
  float: none;
  width: 100%;
}

}

p {
  
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: rgb(91, 120, 100);
}






.navbar { /*container*/
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(91, 113, 91);
  color: #fff;
}


.nav-links a {
  font-family: elitefont;
  color: #fff;
  margin: auto;
  padding-right: 20px;
}

.logo h1 {
  margin: auto;
  font-size: 40px;
  font-family: elitefont;
  padding: 10px;
}

.logo p {
  margin: auto;
  padding: 10px;
  font-family: elitefont;
}

.nav-links a {
  color: rgb(56, 43, 43);
}


#aboutme { /*container flex*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutme { /*container items eg aboutme aboutme2 applies to all items with about me*/
  
  margin: 10px;
  border: 3px solid black;
  background-color: azure;
  text-align: center;
}



#footer {
  display: flex;
  border: solid goldenrod;
  padding: 10px;
  text-align: center;
  background: #434545;
  box-shadow: -5px 5px 30px 5px #66736b;
  color: white;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
}

