


body {
    padding: 2rem;
}

body {
    font-family: sans-serif, Times, serif;
    letter-spacing: 3px;
}

body .head2 {
    font-size: 80px;
    font-weight: 900;
    font-style: oblique;
    text-transform: capitalize;
}

.nav-container {
    border: 5px solid#7d7d7d;
    box-shadow: -5px 5px 30px 5px #66736b;
    padding: 20px;
    color: rgb(81, 43, 81);
    font-style: italic;
    font-size: 22px;
}

.nav-container a {
    color: green;
    font-size: xx-large;
}
.nav-container:hover {
    background-color: rgb(141, 138, 138);
    color: white;
}
.nav-container:visited {
    color:rgba(247, 69, 4, 20);
}


#DanPort h1, h2 {
    background-color: rgb(83, 83, 83);
   
}


.my-portrait figcaption {
    border: 5px solid#7d7d7d;
    box-shadow: -5px 5px 30px 5px #66736b;
    padding: 20px;
    color: rgb(81, 43, 81);
    font-style: italic;
    font-size: 22px;
}



#about-me::first-letter { /*pseudo-element - from an ID*/
    color: green;
}

.about-text {
    border: 2px solid black;
    box-shadow: -2px 2px 20px 2px;
    padding: 1rem
}




.son-house:hover p { /*pseudo-class - from a class*/
    color:rgba(247, 69, 4, 0.5)
    /*the a (rgb) applies opacity, final value 0.5 is the given value for opacity*/ 
}


.son-house p {
    padding: 20px;
    border: 2px solid black;
    box-shadow: 5px -5px 10px 5px #646161;
    line-height: 1.9rem;
    letter-spacing: 3px; 
}


#box {
    outline: 3px solid green
}

#box:checked + label {
    color: green;
}

a::before{ /*adding the arrows onto the link content, twitter etc*/
    content: "→";
}

p {
    position: relative;
}
 /* the above code is to do with positioning, and allows us to use the z-index property below */  


#socials [href] { 
    text-decoration: none;
} /*target socials ID, target href attribute inside ID, applied decoration to href attribute*/


.div-element {
    height: 100px;
    width: 100px;
    color: white;
    background-color: red;
}
.span-element {
    display: inline-block;
    height: 100px;
    width: 100px;
    color: white;
    background-color: blue;
}

