
.nav-container a {
    color: green;
    font-size: xx-large;
}
.nav-container:hover {
    background-color: #555;
    color: white;
}
.nav-container:visited {
    color:rgb(247, 69, 4)
}

#DanPort {
    background-color: rgb(42, 44, 42);
    color: white;
    padding: 40px;
}
#DanPort:hover { /*pseudo-class - from an ID*/
    background-color: #555;
    color: white;
}



.my-portrait figcaption {
    color: violet;
    font-style: italic;
    font-size: large;
}

#about-me::first-letter { /*pseudo-element - from an ID*/
    color: green;
}

.son-house:hover { /*pseudo-class - from a class*/
    color:rgb(247, 69, 4)
}

#box {
    outline: 3px solid green
}

#box:checked + label {
    color: green;
  }

  a::after { /*adding the arrows onto the link content, twitter etc*/
    content: "→";
 }

 p {
    position: relative;
 }
 /* the above code is to do with positioning, and allows us to use the z-index property below */  
 
 p::after {
    content: "";
    background-color: palegoldenrod;
    height: 70px;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: -1;