
.nav-container a {
    color: green;
    font-size: xx-large;
}
.nav-container:hover {
    background-color: #555;
    color: white;
}

#DanPort {
    background-color: rgb(42, 44, 42);
    color: white;
    padding: 40px;
}
#DanPort:hover {
    background-color: #555;
    color: white;
}



.my-portrait figcaption {
    color: violet;
    font-style: italic;
    font-size: large;
}

#about-me  p {
    color: green;
}

.son-house {
    color:rgb(247, 69, 4)
}





